---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Open Sans', 'sans-serif';
$heading-font:    'Roboto Slab', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #000;
$bg-color:        #fff;
$neutral:         #d9d9d9;
$accent-light:    #990000;
$accent-dark:     #404040;


/* viewport sizes */

$max-width:       1000px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=auto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=auto');
@import 'wax';
