---
layout: generic_collection_item
image_viewer: 'davidiak'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Interview Date'
    value: page.interview_date 
  - label: 'Interviewee'
    value: page.interviewee
  - label: 'Interviewer'
    value: page.interviewer
  - label: 'Description'
    value: page.description
  - label: 'Keywords'
    value: page.keywords
  - label: 'Author'
    value: page.author
  - label: 'Length'
    value: page.length
  - label: 'Type'
    value: page.type_of_resource
  - label: 'Format'
    value: page.digital_format
  - label: 'Type'
    value: page.object_type
  - label: 'Location'
    value: page.location
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'YouTube Source'
    value: page.source
    type:  link
  - label: 'English Transcript'
    value: page.filename_transcript_eng
    type:  link
  - label: 'Spanish Transcript'
    value: page.filename_transcript_esp
    type:  link
  - label: 'Rights'
    value: page.rights
    type: link
    
---
